body {
  background-color: blanchedalmond;
  font-family: "Merienda", cursive, "Arial";
  font-size: 16px;
}

.header {
  color: gray;
}

img {
  border: solid 1px black;
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.button {
  border: solid 1px black;
  height: 200px;
  width: 200px;
  line-height: 200px;
  border-radius: 50%;
  text-align: center;
  font-size: 2em;
  color: #fff;
  display: inline-block;
  margin: 0 5px;
}

#home {
  background-color: rgb(255, 0, 98, 0.5);
}

#portfolio {
  background-color: rgb(60, 206, 243, 0.5);
}

#contactMe {
  background-color: rgb(66, 221, 28, 0.5);
}

footer {
  margin-top: 50px;
  font-size: 0.75em;
  text-align: center;
  color: grey;
}
